.diner_total {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 30px;
}

.diner_total>.diner_item>div {
    padding-top: 15px;
    justify-content: start;
}

.diner_total>.diner_item>div>span {
    width: 120px;
    /* Điều chỉnh kích thước hình ảnh */
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.diner_total .diner_item .text-small {
    font-size: 15px;
    line-height: 1.3;
}

.diner_total .diner_item .text-tiny {
    font-size: 15px;
    line-height: 1.3;
}

.diner_total .diner_item .status {
    display: flex;
    justify-content: center;
}

.hashtag span {
    font-size: 16px;
}

.diner_item .diner_footer {
    display: flex;
    justify-content: space-between !important;
}

.diner_item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15px;
    border-radius: 20px;
    /* Add a transition effect to background-color */
}

.diner_item:active {
    background-color: #DFCCFB;
    /* Change the background color when clicked */
}