/* .change-image-dropdown {
    position: relative;
    overflow: hidden;
}

.change-image-dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
} */