.login {
    padding: 40px;
}

.login_header {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.login_header h2 {
    font-size: 50px;
    font-family: 'Handjet', cursive;
    padding: 0px !important;
}

.login_input {
    display: grid;
    place-items: center;
    width: 250px;
    margin: 0 auto;
}

.login_input form {
    width: 100%;
}

.login_input>div {
    margin-bottom: 10px;
}

.login_button {
    justify-content: center;
}

.login_button>div {
    justify-content: space-around;
}

#btn_try {
    padding: 10px;
}

#user_login_fail {
    text-align: center;
    color: red;
}

#google_login button {
    padding: 0;
}

#google_login button svg{
    padding: 0;
    font-size: 40px;
}