.popover_chat {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.popover_chat_hovered {
    bottom: 10px;
    font-size: 1vw;
}

.popover_chat_img {
    background: none;
    border: none;
    border-radius: 80%;
    padding: 0;
    width: 7vw;
    height: 5vw;
}

.popover_chat_img img {
    width: 7vw;
    height: 5vw;
}